﻿.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.has-success.has-feedback .ant-form-item-children:not(.defaultInputNumber):after,
.has-warning.has-feedback .ant-form-item-children:not(.defaultInputNumber):after,
.has-error.has-feedback .ant-form-item-children:not(.defaultInputNumber):after,
.is-validating.has-feedback .ant-form-item-children:not(.defaultInputNumber):after {
    right: -30px;
}